@model IEnumerable<LibraryManagementSystem.Models.Book>

<h2>Book List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Book in Model)
        {
            <tr>
                <td>@Book.ID</td>
                <td>@Book.Title</td>
                <td>@Book.Description</td>
                <td>
                    <a asp-route-id="@Book.ID" asp-controller="Book"  asp-action="EditBookGet"
                       class="btn btn-sm btn-warning">Edit</a>
                </td>

                <td>
                    <form asp-route-id="@Book.ID" asp-action="DeleteBook" method="post" onsubmit="return confirm('Are you sure you want to delete this Book?');">
                        <button type="submit" class="btn btn-sm btn-warning">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>



<a href="@Url.Action("AddBook", "Book")" class="btn btn-primary">Add Book</a>
